# For use with rails and sergey playbooks
app_directory: '~'
remote_domain: 'example.com' # change to either TopLevelDomain (for example de, com, or fi) or root of your subdomains (for example io37.ch)

# For use with webserver playbook
ruby_version: '2.7.1'
deploy_user: '{{ deploy_user }}'
deploy_user_password: '{{ user_password }}'
deploy_user_public_key_local_path: '~/.ssh/id_rsa.pub'
postgresql_version: '13'
postgresql_locales:
  - 'en_US.UTF-8'
  - 'en_GB.UTF-8'
