$black:#191919;
$red:#db5439;
$red-light-1x:rgba(220, 84, 57, 0.5);
$red-light-2x:rgba(220, 84, 57, 0.25);
$white:#f5f3e8;
$yellow:#eebe6d;
$blue: #7fafc5;
$paper: #f3f7e9;
$green: #516548;

$font-body: 'Raleway';

body {
  font: 100% $font-body;
  background: $red;
}